$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('../images/fade.jpg');
  background-size: cover;
}

#logo-wrapper {
  margin: auto;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}

#logo {
  margin-bottom: 0;
  padding: 0;
}

.display-creature {
  background-size: cover;
  background-color: black;
  color: white;
  border-color: #FFD700;
  border-width: 10px;
  border: solid;
  border-style: ridge;
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 3em;
  clear: both;
  margin-top: 15px;
}

#heading-wrapper {
  background-color: white;
}

#heading-section {
  width: 100%;
  background-color: white;
  color: black;
  clear: both;
  height: 40px;
}

#display-name {
  float: left;
}

#display-cr {
  float: right;
  padding-right: 30px;
}

.roleplay-section {
}

#create-lab {
  font-family: 'Markazi Text';
  background-size: cover;
  background-color: black;
  color: white;
  border-color: #FFD700;
  border-width: 10px;
  border: solid;
  border-style: ridge;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 15px;
  clear: both;
}

#create-lab input {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 27px;
}

#update-lab {
  background-size: cover;
  background-color: black;
  color: white;
  border-color: #FFD700;
  border-width: 10px;
  border: solid;
  border-style: ridge;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 15px;
}

#update-lab input {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 27px;
}

#update-lab p {
  font-family: 'Markazi Text';
  font-size: 30px;
}

#create-submit {
  margin-top: 10px;
  color: black;
  margin-bottom: 10px;
}

.update-submit {
  margin-bottom: 5px;
  margin-top: 3px;
  color: black;
  clear: both;
}

#update-submit-top {
  color: black;
}

#update-submit-botton {
  color: black;
}

#go-to-lab-wrapper {
  float: right;
}

#go-to-viewer-wrapper {
  float: right;
}

#lab-instructions-wrapper {
  float: left;
}

#viewer-instructions-wrapper {
  float: left;
}

#viewer-instructions-button {
  width: 220px;
}

#lab-instructions-button {
  width: 210px;
}
// Begins instructions modal

#instructions-modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: 30%;
    margin: auto;
    width: 60%;
    height: 55%;
    overflow: auto;
    background-color: white;
    text-align: center;
}

#viewer-instructions-modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: 20%;
    margin: auto;
    width: 60%;
    height: 28%;
    overflow: auto;
    background-color: white;
    text-align: center;
}

// Modal content
.modal-content {
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    border: 2px solid #888;
    width: 96%;
    font-family: 'Markazi Text';
    font-size: 20px;
    text-align: center
}

// Close button
.close {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  right: 7px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// End instructions modal

#outside-buttons-wrapper {
  width: 30%;
  margin: auto;
  clear: both;
  margin-bottom: 15px;
  overflow: hidden;
}

span {
  font-family: 'Markazi Text';
  font-size: 30px;
}

a {
  font-family: 'Markazi Text';
  font-size: 30px;
}

.navbar {
  background-color: #121820;
  top: 0;
  width: 100%;
  position: fixed;
  padding-bottom: 20px;
  margin-bottom: 20px;
  bottom: 99%;
}

#search-notifier {
  position: fixed;
  margin-left: 225px;
  color: gold;
  font-size: 20px;
}

.search-nav {
  position: fixed;
  width: 250px;
  margin: 0;
}

.search-results {
  position: fixed;
  margin: auto;
  width: 230px;
  top: 35px;
}

h1 {
  margin-top: 0;
  text-align: center;
}

.auth {
  float: right;
}

#auth-notifier {
  margin-right: 3px;
  clear: right;
  color: gold;
  font-size: 20px;
}

#create-new-creature-notifier {
  font-size: 20px;
  color: gold;
}

#update-creature-notifier {
  font-size: 10px;
  color: gold;
}

#update-creature-notifier-2 {
  font-size: 10px;
  color: gold;
}

#delete-creature-notifier {
  font-size: 20px;
  color: black;
  text-align: center;
}

.roleplay-section {
  clear: left;
}

.defenses-section {
  margin-top: 10px;
}

.offense-section {
  margin-top: 10px;
}

#delete-creature-form {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 20px;
}

.form-button {
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(top, #a5b8da, #7089b3);
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #aec3e5;
  color: #fff;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #64799e;
  text-transform: uppercase;
  width: 150px; }
  button.blue-pill:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer; }
  button.blue-pill:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
}

.auth-button {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  margin-right: 3px;
  margin-left: 3px;
  font: bold 13px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 120px; }
  button.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

.outside-button {
  background-color: #ee432e;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
 background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
 background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
 background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
 background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
 background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
 border: 1px solid #951100;
 border-radius: 5px;
 -webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
 box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
 color: #fff;
 font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
 padding: 12px 0 14px 0;
 text-align: center;
 text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
 width: 150px; }
 button.thoughtbot:hover {
   background-color: #f37873;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
   background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
   background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
   background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
   background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
   background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
   cursor: pointer; }
 button.thoughtbot:active {
   background-color: #d43c28;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
   background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
   background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
   background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
   background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
   background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
   -webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
   box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
}
