$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('../images/fade.jpg');
  background-size: cover;
}

.display-creature {
  background-size: cover;
  background-color: black;
  color: white;
  border-color: #FFD700;
  border-width: 10px;
  border: solid;
  border-style: ridge;
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 3em;
}

#heading-wrapper {
  background-color: white;
}

#heading-section {
  width: 100%;
  background-color: white;
  color: black;
  clear: both;
  height: 40px;
}

#display-name {
  float: left;
}

#display-cr {
  float: right;
}

.roleplay-section {
}

#create-lab {
  font-family: 'Markazi Text';
  background-size: cover;
  background-color: black;
  color: white;
  border-color: #FFD700;
  border-width: 10px;
  border: solid;
  border-style: ridge;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 6px;
}

#create-lab input {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 27px;
}

#update-lab {
  background-size: cover;
  background-color: black;
  color: white;
  border-color: #FFD700;
  border-width: 10px;
  border: solid;
  border-style: ridge;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 15px;
}

#update-lab input {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 27px;
}

#update-lab p {
  font-family: 'Markazi Text';
  font-size: 30px;
}

#create-submit {
  margin-top: 10px;
  color: black;
  margin-bottom: 10px;
}

.update-submit {
  margin-bottom: 5px;
  margin-top: 3px;
  color: black;
  clear: both;
}

#go-to-lab-wrapper {
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}

#go-to-viewer-wrapper {
  text-align: center;
  margin: auto;
}

#lab-instructions-wrapper {
  text-align: center;
  margin: auto;
}

// Begins instructions modal

#instructions-modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: 10%;
    margin: auto;
    width: 60%;
    height: 30%;
    overflow: auto;
    background-color: white;
    text-align: center;
}

// Modal content
.modal-content {
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    border: 2px solid #888;
    width: 90%;
    font-family: 'Markazi Text';
    font-size: 20px;
    text-align: center
}

// Close button
.close {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  right: 7px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// End instructions modal

span {
  font-family: 'Markazi Text';
  font-size: 30px;
}

a {
  font-family: 'Markazi Text';
  font-size: 30px;
}

.navbar {
  background-color: #121820;
  top: 0;
  width: 100%;
  position: fixed;
  padding-bottom: 20px;
  margin-bottom: 20px;
  bottom: 99%;
}

.search-nav {
  position: fixed;
  left: 35%;
  width: 250px;
  margin: 0;
}

.search-results {
  position: fixed;
  left: 35%;
  width: 230px;
  top: 35px;
}

h1 {
  margin-top: 60px;
  text-align: center;
}

.auth {
  float: right;
}

#auth-notifier {
  margin-right: 3px;
  clear: right;
  color: gold;
  font-size: 20px;
}

#create-new-creature-notifier {
  font-size: 20px;
  color: gold;
}

#update-creature-notifier {
  font-size: 10px;
  color: gold;
}

#update-creature-notifier-2 {
  font-size: 10px;
  color: gold;
}

#delete-creature-notifier {
  font-size: 20px;
  color: black;
  text-align: center;
}

.roleplay-section {
  clear: left;
}

.defenses-section {
  margin-top: 10px;
}

.offense-section {
  margin-top: 10px;
}

#delete-creature-form {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 20px;
}
